*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    background-size: cover;
}

.contenedor{
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 60px;
    margin: 30px;
    border-radius: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/barrios.webp);

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/localescomerciales.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/parques.jpg");

}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/puentes.png");

}



